@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-clr: #5598fd;
    --secondary-clr: #ffffff;
    --sidebar-bg: #10799f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.regular-txt {
    font-weight: 400;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background: var(--primary-clr);
    transition: background-image 0.3s ease;
    background-size: cover;
    background-position: center;
    font-weight: 600;
}

.card {
    width: 90%;
    max-width: 470px;
    color: var(--secondary-clr);
    margin: 100px auto 0;
    background-color: rgba(126, 226, 54, 0.1); /* Slight transparency for the card */
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.city-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgba(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}

.city-input:focus {
    border: 3px solid rgba(255, 255, 255, 0.75); /* Light border color on focus */
}

.city-input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
    color: #fff;
}

.search-btn:hover {
    color: var(--primary-clr);
    transform: translateY(-50%) scale(1.1);
    transition: all 0.2s ease-in-out;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.country-txt {
    font-size: 1.2rem;
    font-weight: 600;
}

.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img {
    width: 120px;
    height: 120px;
}

.weather-summary-info {
    text-align: end;
}

.temp-txt {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-clr);
}

.weather-conditions-container {
    display: flex;
    justify-content: space-between;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item span {
    font-size: 30px;
}

.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding-bottom: 12px;
}

.forecast-items-container::-webkit-scrollbar {
    height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
    background: rgba(241, 218, 218, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgba(241, 218, 218, 0.5);
    border-radius: 99px;
}

.forecast-item {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
}

.forecast-item h5 {
    font-weight: 600;
}

.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section-message img {
    width: 150px;
}
